/* .active {
    background-color: #555; 
    color: #fff; 
} */
html{
    font-size: 1rem;
}
@media(max-width:600px){
    html{
        font-size: .7rem;
    }
    nav{
        min-width: 25rem !important;
    }
}
