<div class="p-5">
    <h1 class="fs-1">About Us</h1>
    <p class="text-secondary fs-5">Stay ahead of emerging cyber threats in the Indian cyber space. Neurasecure provides real-time updates on incidents, vulnerabilities, and cyber activities impacting critical infrastructures across the nation.</p>

    <div class="">
        <div class="p-4 my-4 rounded-4" style="background-color: #3333335d;">
            <h2>Real-time Cyber Feeds</h2>
            <p style="color: #ffffffaf;">Get live feeds of cyber incidents, breaches, and threats happening across the Indian cyber ecosystem, allowing stakeholders to react swiftly.</p>
        </div>
        <div class="p-4 my-4 rounded-4" style="background-color: #3333335d;">
            <h2>Data-driven Insights</h2>
            <p style="color: #ffffffaf;">Our platform utilizes machine learning to provide insights based on historical and real-time incident data, helping you identify patterns and emerging threats.</p>
        </div>
        <div class="p-4 my-4 rounded-4" style="background-color: #3333335d;">
            <h2>Sector-specific Reports</h2>
            <p style="color: #ffffffaf;">Analyze the impact of cyber incidents on various sectors such as banking, healthcare, energy, and government, with tailored reports and actionable intelligence.</p>
        </div>
        <div class="p-4 my-4 rounded-4" style="background-color: #3333335d;">
            <h2>Proactive Mitigation</h2>
            <p style="color: #ffffffaf;">Receive recommendations on how to mitigate risks and vulnerabilities before they lead to major incidents. Stay secure with proactive measures.</p>
        </div>
    </div>
</div>