<style>
    .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.search input:focus{
    outline: none;
    border: none;
}
</style>
<div class="pt-5 " style="display: flex; flex-direction: row;">
    <div style="height: 100vh; overflow-y: scroll;" class="no-scrollbar">
        <h2 class="fs-1 px-5">Recent Cyber Incidents</h2>
        <div class="px-5 d-flex flex-column gap-3" ng-repeat="incident in incidents">
            <div class="p-4 rounded-4 mt-3" style="background-color: #3333339f;">
                <h3 class="">{{incident.title}}</h3>
                <p class="mt-2">{{incident.description}}</p>
                <p class="mt-2 ">Date: {{incident.date}}</p>
            </div>
        </div>

    </div>
    <div class="d-flex flex-column" style=" margin-top: 5rem;">
        <div class="search d-flex align-items-center rounded-2 overflow-hidden" style="height: 2.5rem; background-color: #333;">
            <input type="text" class="fs-5 text-white px-3" style="background-color: transparent; border: none;" placeholder="Search">
            <div class="bg-primary m-0 p-0">
            <button class="btn text-white" style="background-color:transparent;">Search</button>
             </div>
        </div>  
        <div class="h-50 mt-5 rounded-4" style="background-color: #333;">
          
        </div>
    </div>
</div>